html, body {
  padding-top: 2%;
  background-color: #faf6fd;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

.card {
  background-color: whitesmoke;
}

.cat {
  font-size: 12px;
  opacity: .4;
}

.view {
  padding-top: 2vh;
}

.author {
  padding: 3vh 9vh 3vh 5vh;
}